h1{
    display: inline-block;
    /* width: 50px;
    height: 50px; */
    padding: 30px;
    margin: -.5px;
    background: lightgray;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 100% 100%;

}

img {
    width: 80px;
    height: 80px;
    /* margin-bottom: -2px; */
}

/* img:active{
    opacity: .8;
} */

@media (min-width: 376px) { 
    img {
        width: 40px;
        height: 40px;
    }
}

button {
    padding: 0;
    margin: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    img {
        width: 48px;
        height: 48px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
     img {
        width: 58px;
        height: 58px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
     img {
        width: 6px;
        height: 68px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
     img {
        width: 78px;
        height: 78px;
    }
}