<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h1>Is the Game started: <code>{{isStarted$ | async}}</code></h1>
  <h1>Is the Game Paused: <code>{{isPaused$ | async}}</code></h1>
  <h1>Is the Game Ended: <code>{{isEnded$ | async}}</code></h1>
  <button *ngIf="!(isStarted$ | async)" style="padding:10px" (click)="startGame()">Start Game</button>
  <button *ngIf="(isStarted$ | async) && !(isPaused$ | async)" style="padding:10px" (click)="pauseGame()">Pause Game</button>
  <button *ngIf="isPaused$ | async" style="padding:10px" (click)="continueGame()">Continue Game</button>
  <button *ngIf="isStarted$ | async" style="padding:10px" (click)="endGame()">End Game</button>
</div>



<router-outlet></router-outlet>