<div class="row">
    <div class="sb-border">
        <button mat-raised-button color="primary">
            <mat-icon matTooltip="Play" *ngIf="!(isStarted$ | async) && !(isPaused$ | async)" (click)="startGame()">
                play_arrow</mat-icon>
            <mat-icon matTooltip="Pause" *ngIf="(isStarted$ | async) && !(isPaused$ | async)" (click)="pauseGame()">
                pause</mat-icon>
            <mat-icon matTooltip="Continue" *ngIf="(isPaused$ | async)" (click)="continueGame()">
                play_arrow</mat-icon>
        </button>

        <button [disabled]="!(isStarted$ | async)" mat-raised-button color="primary" (click)="endGame();startGame()">
            <mat-icon matTooltip="Restart">replay</mat-icon>
        </button>
    </div>
</div>
