<div class="row">
    <div class="sb-border">
        <button mat-raised-button color="primary">
            <mat-icon matTooltip="Play" *ngIf="(gameState$ | async) === GameState.IS_NOT_STARTED" (click)="startGame()">
                play_arrow</mat-icon>
            <mat-icon matTooltip="Pause" *ngIf="(gameState$ | async) === GameState.IS_IN_PLAY" (click)="pauseGame()">
                pause</mat-icon>
            <mat-icon matTooltip="Continue" *ngIf="(gameState$ | async) === GameState.IS_PAUSED" (click)="continueGame()">
                play_arrow</mat-icon>
        </button>

        <button [disabled]="(gameState$ | async) === GameState.IS_NOT_STARTED" mat-raised-button color="primary"
            (click)="endGame();startGame()">
            <mat-icon matTooltip="Restart">replay</mat-icon>
        </button>
    </div>
</div>
